@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;500;600;700&display=swap');
@import url('../css/vendor/bootstrap.min.css');
@import url('../css/vendor/fontawesome.css');
@import url('../css/vendor/brands.css');
@import url('../css/vendor/regular.css');
@import url('../css/vendor/solid.css');
@import url('../css/vendor/swiper-bundle.min.css');
@import url('../css/vendor/animate.min.css');

@property --progress {
    syntax: '<integer>';
    inherits: true;
    initial-value: 0;
}

@keyframes load {
    to {
        --progress: var(var(--value))
    }
}

@keyframes ripple {
    from {
        opacity: 1;
        transform: scale3d(1, 1, 1);
        transform-origin: center;
        border-width: 0px;
    }

    to {
        opacity: 0;
        transform: scale3d(1.7, 1.7, 1.8);
        transform-origin: center;
        border-width: 13px;
    }
}

:root{
    --primary: #D1D1D1;
    --secondary: #040404;
    --text-color: #8B8B8B;
    --text-color-2: #040404; 
    --accent-color: #C82AEF; 
    --accent-color-2: #FFFFFF;
    --accent-color-3: #1F1F1F;
    --accent-color-4: #0E0E0E;
    --accent-color-5: #0404047D;
    --accent-transparent: #00000000;
    --box-shadow-1: -3px -3px 7px 0px rgba(200.00000000000006, 42, 238.99999999999997, 0.44);
    --box-shadow-1-hover: 3px 3px 7px 0px rgba(200.00000000000006, 42, 238.99999999999997, 0.44);
    --global-font: "Plus Jakarta Sans", sans-serif;
    --global-border-radius: 25px 25px 25px 25px;
    --animation-normal: 1.25s;
    --animation-slow: 2s;
    --animation-fast: 0.75s;
}

body{
    font-family: var(--global-font);
    color: var(--primary);
    background-color: var(--secondary);
    
}

h1 {
    font-size: 64px;
    font-weight: 700;
}

h2{
    font-size: 48px;
    font-weight: 700;
}

h3 {
    font-size: 24.8px;
    font-weight: 600;
}

h4 {
    font-size: 21.008px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16.8px;
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

button, a{
    font-size: 15.008px;
    color: var(--primary);
    text-decoration: none;
}

p {
    font-size: 16px;
    margin-bottom: 0;
    color: var(--text-color);
}

ul{
    list-style: none;
}

.custom-list {
    list-style: none;
    padding: 0;
}

.custom-list li {
    position: relative;
    padding-left: 24px;
    margin-bottom: 8px;
}

.custom-list li::before {
    content: "\f054";
    font-family: "Font Awesome 6 Free"; 
    font-weight: 900;
    position: absolute;
    left: 0;
    color: var(--accent-color);
    font-size: 14px;
}

.custom-row{
    padding-left: 2em; padding-right: 2em;
}

li {
    font-size: 16px;
}

img {
    object-fit: cover;
}

button {
    padding-inline: 1rem;
    padding-block: 0.5rem;
    text-decoration: none;
    transition: all 0.5s;
}

.text-color {
    color: var(--text-color);
}

.text-color-2 {
    color: var(--text-color-2);
}

.hover-transform:hover {
    transform: translateY(-10px);
}

button:hover {
    color: var(--text-color);
}

.w-max-content {
    width: max-content;
}

.section {
    padding: 2em 2em 2em 2em;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.hero-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.bg-accent-color {
    background-color: var(--accent-color);
}

.bg-accent-color-2 {
    background-color: var(--primary);
}

.bg-accent-color-3 {
    background-color: var(--accent-color-3);
}

.bg-accent-color-gray{
    background-color: #4a4a4a54;
}

.company-mail{
    color: #0062D2;
    font-size: 16px;
    text-decoration: underline;
}

.accent-color {
    color: var(--accent-color);
}

.accent-color-2 {
    color: var(--primary);
}

.accent-color-3 {
    color: var(--accent-color-3);
}

.sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 75%;
    background-color: #222;
    color: white;
    padding: 20px;
    overflow-y: auto;
}


.sidebar-header {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 20px;
}

.sidebar-header .logo {
    width: 75%;
}

.close-btn {
    position: relative;
    font-size: 20px;
    cursor: pointer;
    padding: 6px 12px;
}

.menu {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    color: var(--primary);
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 5px;
    transition: 0.3s;
    font-weight: 700;
    transition: all 0.3s ease;
}

.menu a:hover{
    color: var(--accent-color);
}

.sidebar-dropdown .dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-dropdown-btn {
    background: none;
    border: 1px solid var(--accent-color-3);
    color: var(--accent-color-3);
    font-size: 1rem;
    cursor: pointer;
    padding: 1px 18px;
    border-radius: 24px;
    transition: transform all 0.3s ease;
    font-size: 12px;

}
.sidebar-dropdown-btn:hover {
    color: var(--accent-color);
    border: 1px solid var(--accent-color)
}

.sidebar-dropdown-menu {
    list-style: none;
    padding-left: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
    padding-top: 0;
    padding-bottom: 0;
}

.sidebar-dropdown-menu.active {
    max-height: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.below-dropdown {
    transition: margin-top 0.1s ease-in-out;
    margin-top: 0px;
}

.sidebar::-webkit-scrollbar {
    width: 5px;
}

.sidebar::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 5px;
}
.content {
    padding: 20px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    padding: 10px 30px;
    border-radius: 0.375rem;
    transition: all 0.15s ease-in-out;
    font-weight: bold;
    border-radius: 0;
}

.btn-white-accent {
    background-color: white;
    color: var(--accent-color-3);
    border: 1px solid transparent;
}

.flex-container{
    display: flex;
}

pre {
	background: #1d1d1d;
	padding: 14px 19px;
	margin: 20px 0px 50px 0px;
	line-height: 25px;
	word-break: break-all;
	word-wrap: break-word;
}

.dependencies-link{
    color: var(--primary);
    transition: 0.3s ease;
}

.dependencies-link:hover{
    color: var(--accent-color);
}

#theme-content{
	display: block;
	width: calc(100vw - 35% );
	color: #333;
	padding: 52px;	
	float: right;
}

#theme-content a{
	text-decoration: none;
	color: #0062D2;
}

#theme-content a:hover{
	text-decoration: underline;
}

#theme-content-heading{
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
}

#theme-content-info{
	border:1px solid #e5e5e5;
	border-left:0px;
	border-right:0px;
	margin: 27px 0px 40px;
	display: table;
}

#theme-content-info-created,
#theme-content-info-description{
	padding: 23px 30px;
	display: table-cell;
	vertical-align: top;
}

#theme-content-info-created{
	width: 35%;
	background: #f7f7f7;
	font-weight: bold;
	line-height: 26px;
	font-size: 15px;
	color: #555;
}

#theme-content-info-description{
	width: 65%;
	line-height: 26px;
}

#theme-content-body {
	line-height: 27px;
	color: #000;
}

#theme-content-body h1,
#theme-content-body h2,
#theme-content-body h3 {
	margin-bottom: 14px;
}

#theme-content-body p {
	margin: 0px 0px 22px 0px;
}

#theme-content-body ol,
#theme-content-body ul{
	margin: 7px 0px 14px 25px;
}